{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div>
    <h2>Hola, I'm SkyNest. Try me out!</h2>
    Enter Tweet or Sentence: <input type="text" id="tweet" size="140"><br>
    <button type="button" id="suggest">Get Intelligent Reply</button><br><br>
    Suggested Reply: <input type="text" id="reply" size="140">
</div>

  <script type="text/javascript">
  // JQuery stuff
  $(document).ready(function(){
      $("#suggest").click(function(){
          $.getJSON( "replies?text=" + $('#tweet').val(), function(data) {
            if (data.replies) {
              console.log(data);
              reply = data.replies[0];
              $('#reply').val(reply);
            } else {
              console.log('no replies!');
              console.log(data);
              $('#reply').val('');
            }
          });
      });
  });
  </script>
{% endblock %}
